<div id="kt_body" class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid text-center">
            <div class="col-sm-12 d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-center p-12">
                
                <!-- add data here -->
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>